.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-img {
    border-radius: 10%;
    height: 400px;
}

.intro-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}