.home-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 40px;
    background-size: cover;
}

.media-containers {
    width: 400px;
    height: 400px;
    margin: 20px;
    border: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 40px;
    text-align: center;
    text-overflow: ellipsis;
    font-family: 'Monoton', cursive;
    font-size: calc(3px + 2vmin);
    background-color: hsla(333, 100%, 53%, 1);
    cursor: pointer;
    background: linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    text-shadow: 4px 4px blue;
    background: -webkit-linear-gradient(90deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1 );;
    align-items: center;
    box-shadow: 18px 10px yellow ;

}

a{
    text-decoration: none;
    color: #28b8d5;
    text-align: center;
}


